.desc {
    padding: 0 56px;
    color: rgba(0, 0, 0, .45);
}

.desc h3 {
    font-size: 16px;
    margin: 0 0 12px 0;
    color: rgba(0, 0, 0, .45);
    line-height: 32px;
}

.desc h4 {
    margin: 0 0 4px 0;
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    line-height: 22px;
}

.desc p {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 22px;
}
.stepForm {
    margin: 40px auto 0;
    max-width: 500px;
}

#step2 .ant-form-item {
    margin-bottom: 10px;
}
