body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.trigger{
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}
.trigger:hover{
    color: #1890ff;
}
#page .card-item{
    margin-bottom: 10px;
    border-radius: 3px;
    line-height: 2em;
}
#page .card-ul{
    list-style: inside circle;
}

/*GalleryDemo*/
.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}
.aspect--1x2{
    padding-bottom: calc(112.5% + 8px);
}
.aspect--1x1 {
    padding-bottom: 56.25%;
    /*padding的百分比是按父级的width计算的*/
}
.aspect--2x1 {
    padding-bottom: 28.125%;
}
.aspect__inner{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ant-modal {
    top: 0;
}

/*美化webkit内核滚动条*/
  ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #777;
}