body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.trigger{
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}
.trigger:hover{
    color: #1890ff;
}
#page .card-item{
    margin-bottom: 10px;
    border-radius: 3px;
    line-height: 2em;
}
#page .card-ul{
    list-style: inside circle;
}

/*美化webkit内核滚动条*/
  ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #777;
}